@charset "utf-8";

/* member css */
.member {margin:0 auto;width:520px;padding:100px 0 200px 0;}
.member .btn_gray01 {color: #bbbbbb;} /* 22.05.20 추가 */
.member .error_msg + li {margin-top: 10px;}

/* 로그인 */
.login {margin-bottom:100px;}
.login h3 {font-size:36px;font-weight:500;line-height:46px;text-align:center;padding-bottom:30px;border-bottom:2px solid #000000;margin-bottom:60px;}
.login .id_input {margin-bottom:10px;position:relative;}
.login .id_input + .error_msg {margin-bottom: 10px;}
.login .pw_input {margin-bottom:20px;position:relative;}
.login .pw_input + .error_msg {margin: -10px 0px 20px 0px;}
.login .login_check {position:relative;min-height:20px;margin-bottom:40px;}
.login .login_check label {font-weight:500;color:#000000;}
.login .login_check ul {position:absolute;top:0;right:0;}
.login .login_check li {float:left;padding:0px 11px 0px 10px;position:relative;line-height:20px;font-size:15px;}
.login .login_check li:not(:last-child):before {content:"";position:absolute;top:5px;right:0;width:1px;bottom:5px;background:#cccccc;}
.login .login_check li:last-child {padding-right:0;}
.login .btn_area {margin-bottom:30px;}
.login .btn_area button:last-child {height:50px;width:100%;font-size: 15px;font-weight: 500;margin-top:20px;} /*22.04.18 버튼 수정 */
.login .no_member {text-align:right;}
.login .no_member a {display:inline-block;font-size:15px;line-height:20px;color:#777777;padding-right:15px;background:url('../images/common/s_arrow_right_03.svg') no-repeat center right;}

.sns_login {border-top:1px solid #cccccc;text-align:center;}
.sns_login h3 {display:inline-block;font-size:15px;line-height:20px;font-weight:500;margin:-10px 0 30px 0;background:#ffffff;vertical-align:top;padding:0px 20px;}
.sns_login .sns_ico {text-align:center;}
.sns_login ul {display:flex;justify-content:center;}
.sns_login li {margin:0px 15px;}
.sns_login li img {width:50px;height:50px;}

/* 회원가입 */
.member_join {margin-bottom:100px;}
.member_join h3 {font-size:36px;font-weight:500;line-height:46px;text-align:center;padding-bottom:30px;border-bottom:2px solid #000000;margin-bottom:60px;}
.member_join .head_text {font-size: 15px; line-height: 20px; margin-bottom: 8px;}
.member_join h4 {font-size:22px; margin-bottom: 40px;}
.member_join .benefit_list {margin-bottom: 40px; padding: 20px 0px 20px 83px; background: #f8f8f8;}
.member_join .benefit_list li {position:relative; padding: 25px 0px 0px 170px; min-height:90px; margin-bottom:20px; font-size: 0;}
.member_join .benefit_list li::after {content: ''; position: absolute; top: 25px; bottom: 25px; left: 140px; width: 1px; background: #dddddd;}
.member_join .benefit_list .img01 {position: absolute; top: 0px; left: 0px; width: 130px;}
.member_join .benefit_list .img01 img {width:100%;}
.member_join .benefit_list h4 {margin-bottom: 3px; font-size:15px;line-height:20px; font-weight: 500;}
.member_join .benefit_list .text01 {font-size: 13px; line-height:18px; color:#777777;}
.member_join .btn_area {margin-bottom:100px;}

/* 비회원 주문동의 */
.non_mem_order {}
.non_mem_order h3  {font-size:36px;font-weight:500;line-height:46px;text-align:center;padding-bottom:30px;border-bottom:2px solid #000000;margin-bottom:60px;}
.non_mem_order h4 {font-size:22px; margin-bottom: 30px;}
.non_mem_order .input_box {margin-bottom:40px;}
.non_mem_order .input_box li {margin-bottom:10px;position:relative;}
.non_mem_order .input_box li:last-child {margin-bottom: 0px;}
.non_mem_order .input_box p {margin-top:10px;font-size:12px;color:#ff4600;line-height:15px;}
.non_mem_order .btn_area {margin-bottom:30px;}
.non_mem_order .join_go {margin-bottom:60px;}
.non_mem_order .join_go a {display:inline-block;font-size:15px;line-height:20px;color:#777777;padding-right:15px;background:url('../images/common/s_arrow_right_03.svg') no-repeat center right;}
.non_mem_order .text_customer {position:relative; padding-left:13px; line-height:18px;}
.non_mem_order .text_customer::before {content:''; position: absolute; top:7.5px; left:0; width:3px; height: 3px; background: #000000;}
.non_mem_order .text_customer a {font-family:'Spoqa Han Sans Neo';}

/* 계정 찾기 */
.id_pw_find {}
.id_pw_find h3 {font-size:36px; line-height: 46px; font-weight: 500; margin-bottom:40px; text-align: center;}
.id_pw_find .id_pw_tab {margin-bottom:60px;}
.id_pw_find .id_pw_tab:after {content:" ";display:block;clear:both;height:0;}
.id_pw_find .id_pw_tab li {width:50%;float:left;}
.id_pw_find .id_pw_tab span {display:block;text-align:center;cursor:pointer;font-size:22px;color:#777777;line-height:26px;padding-bottom:15px;border-bottom:3px solid #eeeeee;}
.id_pw_find .id_pw_tab span.on {color:#000000;border-bottom:3px solid #000000;font-weight:500;}
.id_pw_find h4 {font-size:15px;font-weight:500;line-height:20px;margin-bottom:10px;}
.id_pw_find h4.h4_big {font-size:22px; font-weight:400; line-height: 30px; margin: -10px 0px 30px 0px;}
.id_pw_find .phone_box {padding: 50px 146px; border: 1px solid #dddddd; margin-bottom: 60px; cursor:pointer;}
.id_pw_find .phone_box  .phone {position: relative; font-size: 20px; line-height: 26px; padding-left: 52px; width:175px;}
.id_pw_find .phone_box  .phone::before {content:''; position:absolute; top:-6px; left:0; width:38px; height:38px; background:url('../images/common/phone.svg') no-repeat center center; background-size: 100% auto;}
.id_pw_find .input_box {margin-bottom:40px;}
.id_pw_find .input_box li {margin-bottom:10px;position:relative;}
.id_pw_find .btn_area01 {margin-bottom:60px;}
.id_pw_find .btn_area02 {margin-bottom:100px;}

/* 아이디 찾기 결과 */
.id_pw_find_result {}
.id_pw_find_result h3 {font-size:36px;font-weight:500;line-height:46px;text-align:center;padding-bottom:30px;border-bottom:2px solid #000000;margin-bottom:60px;}
.id_pw_find_result .btn_area {margin-bottom:30px;}
.id_pw_find_result .join_go {margin-bottom:60px;}
.id_pw_find_result .change_pw a {display:inline-block;font-size:15px;line-height:20px;color:#777777;padding-right:15px;background:url('../images/common/s_arrow_right_03.svg') no-repeat center right;}
.id_pw_find_result .text_notice {position: relative; padding-left:7px; margin-top: 60px; font-size: 12px; color: #999999; line-height: 15px;}
.id_pw_find_result .text_notice:before {content: ""; position: absolute; top: 6px; left: 0; height: 2px; width: 2px; background-color: #999999;}
.id_pw_find_result .member_find {position: relative; margin-bottom: 40px; height: 192px; background: #f8f8f8;} 
.id_pw_find_result .member_find.type01 {height: 146px;}
.id_pw_find_result .info_list {position: absolute; left:50%; top:40px; transform: translateX(-50%);}
.id_pw_find_result .info_list li {margin-bottom:26px; font-size:15px; line-height:20px; white-space: nowrap;}
.id_pw_find_result .info_list li > div {display: inline-block;}
.id_pw_find_result .info_list li > div:first-child {width: 85px;}
.id_pw_find_result .info_list .head01 {left: 88px;}
.id_pw_find_result .notice_common {margin: 60px 0px 0px 0px;}

/* 비밀번호 재설정 */
.pw_reset {}
.pw_reset h3 {font-size:36px;font-weight:500;line-height:46px;text-align:center;padding-bottom:30px;border-bottom:2px solid #000000;margin-bottom:60px;}
.pw_reset h4 {font-size:22px; font-weight:400; line-height: 30px; margin: 0px 0px 30px 0px;}
.pw_reset .input_box {margin-bottom:40px;}
.pw_reset .input_box li {margin-bottom:10px;position:relative;}
.pw_reset .input_box p {margin-top:10px;color:#999999;line-height:18px;}
.pw_reset .btn_area {}

/* 회원가입 */
.join_step {position:relative;padding:0px 0px 40px 0px;}
.join_step .step {position:absolute;top:-40px;left:-1.5px;height:4px;width:100%;}
.join_step .step li {height:100%;float:left;background:#dddddd;width:25%;position:relative;font-size:0;}
.join_step .step li:before {content:"";position:absolute;top:0;left:0;width:3px;background:#ffffff;height:4px;}
.join_step .step li.on {background:#000000;}
.join_step h3 {font-size:36px;font-weight:500;line-height:46px;text-align:center;padding-bottom:30px;border-bottom:2px solid #000000;margin-bottom:60px;}
.join_step h4 {font-size:15px;line-height:20px;margin-bottom:10px;}
.join_step h4.h4_big {font-size:22px; font-weight:400; line-height: 30px; margin: 0px 0px 30px 0px;}
.join_step .phone_box {padding: 50px 146px; border: 1px solid #dddddd; margin-bottom: 60px; cursor:pointer;}
.join_step .phone_box  .phone {position: relative; font-size: 20px; line-height: 26px; padding-left: 52px; width:175px;}
.join_step .phone_box  .phone::before {content:''; position:absolute; top:-6px; left:0; width:38px; height:38px; background:url('../images/common/phone.svg') no-repeat center center; background-size: 100% auto;}
.join_step .agree_check {margin-bottom:40px;}
.join_step .agree_check .all {border-bottom:1px solid #dddddd;margin-bottom:30px;}
.join_step .agree_check .all .checkbox01 {margin-bottom:30px;}
.join_step .agree_check .all .checkbox01 label {font-size:15px;font-weight:500;}
.join_step .agree_check li {margin-bottom:23px;position:relative;}
.join_step .agree_check .view01 {position:absolute;top:1.5px;;right:0;line-height:14px;color:#999999;cursor:pointer;border-bottom:1px solid #999999;}
.join_step .agree_check .marketing .checkbox01 {margin-bottom:23px;}
.join_step .agree_check .sub_list {}
.join_step .agree_check .sub_list .checkbox02 {margin-right:18px;}
.join_step .input_box {margin-bottom:20px;}
.join_step .input_box li {margin-bottom:10px;position:relative;}
.join_step .input_box p {margin-top:10px;font-size:12px;color:#999999;line-height:18px;}
.join_step .email_box {margin:60px 0px 60px 0px;border-bottom:1px solid #000000;padding-bottom:100px;}
.join_step .email_box .email_input {position:relative;}
.join_step .email_box .recommender {margin-bottom:60px;}
.join_step .banner_box{margin-bottom: 40px;}
.join_step .banner_box img {width: 100%;}
.join_step .join_go {margin-top:30px;}
.join_step .join_go a {display:inline-block; font-size: 15px; color:#777777;padding-right:15px;background:url('../images/common/s_arrow_right_01.svg') no-repeat center right;line-height:18px;}

/* 휴대폰번호 */
.join_phone_num {}
.join_phone_num h3 {font-size:36px;font-weight:500;line-height:46px;text-align:center;padding-bottom:30px;border-bottom:2px solid #000000;margin-bottom:60px;}
.join_phone_num h4 {font-size:22px; font-weight:400; line-height: 30px; margin: 0px 0px 30px 0px;}
.join_phone_num .input_box {margin-bottom:40px;}
.join_phone_num .input_box li {margin-bottom:10px;position:relative;padding-right:120px;}
.join_phone_num .input_box .input_area {position:relative;}
.join_phone_num .input_box button {position:absolute;top:0;right:0;width:110px;font-weight:400;}
.join_phone_num .input_box .btn_gray_m01 {color:#bbbbbb;}
.join_phone_num .input_box .time {position:absolute;top:11px;right:128px;font-weight:500;line-height:18px;}

/* 오류 페이지 */
.member .error_page .btn_area {text-align:center;}
.member .error_page .btn_area button {width:300px;}

